.list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    background: white;
    width: 300px;
    height: 30px;
    margin: .5rem;
    border-radius: 5px;
    font-size: 20px;
    padding-left: .5rem;
}

.wrap{
    display: flex;
     justify-content: center;
     align-items: center;
}

.button-del {
    width: 50px;
    padding: 0.5rem;
    border: 1px solid #f32400;
    color: white;
    background: #f32400;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin-right: 1rem;
    font-size: 12px;
}

.button-comp {
    width: 50px;
    padding: 0.5rem;
    border: 1px solid #2ccc54;
    color: black;
    background: #2ccc54;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin-right: 1rem;
    font-size: 12px;
}

.completed{
    text-decoration: line-through;
}
